.statistics {
    margin: 0 auto; 
    display: flex;
    flex-direction: column;   
}
.statList {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
h2 {
    text-transform: uppercase;
    background-color: white;
    padding: 40px;  
    text-align: center;
    margin: 0;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px 20px;
    font-weight: 500;
}
.percentage {
    font-size: 1.3rem;
    padding-top: 10px;
    
}